.card-list {
    width: 85vw;
    margin: 3rem auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 25rem);
    grid-gap: 2rem;
  }

@media (max-width: 750px) {
  .card-list {
    grid-template-columns: repeat(1, 20rem);
  }
}
