.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(23, 29, 212, 0.497);
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.219);

    h2 {
        margin: 1rem 0;
    }
}